@font-face {
font-family: "HighwayGothicNarrow";
src: url("../fonts/HighwayGothicNarrow.woff");
src:
url("../fonts/HighwayGothicNarrow.woff") format("woff"),
url("../fonts/HighwayGothicNarrow.svg#filename") format("svg");
}
body {
  background: #d74005;
  color: #ffffff;
  text-align: center;
  font-family: HighwayGothicNarrow, Arial, sans-serif;
}
button {
  outline: 0;
  cursor: pointer;
  font-family: HighwayGothicNarrow, Arial, sans-serif;
}
h1 {
  margin-bottom: 12px;
  font-size: 28px;
}
.banner {
  background: #ffffff;
  height: 70px;
  margin-bottom: 70px;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.box-shadow {
  position: absolute;
  height: 91px;
  width: 91px;
  background: transparent;
  transform: rotate(45deg); /* Prefixes... */
  top: 3px;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  z-index: -1;
  margin: 0 auto;
}
.logo {
  margin-top: 3px;
  width: 110px;
}
.icon {
  position: absolute;
  left: 0;
  top: -2px;
}
.interactive-button {
  margin-bottom: 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  width: 108px;
  height: 108px;
  color: #f50000;
  font-size: 27px;
  position: relative;
  border:none;
  transition: .2s all ease;
  background: #ffffff;
}
.green-button {
  color: #008631;
  padding-top: 48px;
}
.interactive-button:before {
  content: " ";
  position: absolute;
  top: 2.75px;
  left: 2.75px;
  right: 2.75px;
  bottom: 2.75px;
  border: 2.75px solid #f50000;
  border-radius: 50%;
}
.interactive-button:hover {
  background:  #f50000;
  color: #ffffff;
  transition: .2s all ease;
}
.green-fill {
  fill: #008631;
  transition: .2s all ease;
}
.red-fill {
  fill: #f50000;
  transition: .2s all ease;
}
.interactive-button:hover .green-fill,
.interactive-button:hover .red-fill {
  fill: #ffffff;
  transition: .2s all ease;
}
.green-button:hover {
  background:  #008631;
}
.green-button:before {
  border-color:  #008631;
}
.interactive-button:hover:before {
  border-color: #ffffff;
}
.buttons {
  display: flex;
  justify-content: center;
}
.fact {
  padding: 0 20px;
}
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  display: block;
  background: #d74005;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img {
  width: 230px;
}
@media screen and (min-width: 768px) {
  .interactive-button {
    margin: 0 17px;
  }
  .fact {
    margin-top: 17px;
  }
}
@media screen and (max-width: 767px) {
  .interactive-button {
    margin-bottom: 17px;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
  }
}