<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel = "stylesheet" type = "text/css" href = "css/styles.css" />
 </head>
</head>

<body>
  <div class="banner">
    <img class="logo" src="images/logo.svg"/>
  </div>
  <h1>CHOOSE A STOP</h1>
  <div class="buttons">
    <button class="js-move-it move-button" data-stop="1">1</button>
    <button class="js-move-it move-button" data-stop="2">2</button>
    <button class="js-move-it move-button" data-stop="3">3</button>
    <button class="js-move-it move-button" data-stop="4">4</button>
  </div>
  <script>
    $('.js-move-it').click(function(e) {
      var stopNumber = $(event.target).data('stop');
      $.post("/move-the-train", { stopNumber });
    });
  </script>
</body>
</html>