<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel = "stylesheet" type = "text/css" href = "css/styles.css" />
 </head>
</head>

<body>
  <div class="loading" id="loading">
    <img src="images/logo.svg" />
  </div>
  <div class="banner">
    <img class="logo" src="images/logo.svg"/>
  </div>
  <span class="box-shadow"></span>
  <h1>GET THAT SAUCE</h1>
  <div class="buttons">
    <!-- <button class="js-move-it interactive-button" data-stop="1">1</button>
    <button class="js-move-it interactive-button" data-stop="2">2</button>
    <button class="js-move-it interactive-button" data-stop="3">3</button>
    <button class="js-move-it interactive-button" data-stop="4">4</button> -->

    <button class="js-move-it interactive-button green-button go" data-stop="1">
      GO
      <svg class="icon" width="110px" height="110px" viewBox="0 0 110 110" version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="updated-controls-copy" transform="translate(-134.000000, -243.000000)">
            <g id="Group-8" transform="translate(134.000000, 243.000000)">
              <g id="Group-4" class="green-fill" transform="translate(43.000000, 19.000000)">
                <path
                  d="M12.1670833,0.782340737 L23.7170833,12.1670833 L16.7990833,12.1663407 L16.8,33.87768 L8,33.87768 L7.99908332,12.1663407 L0.617083323,12.1670833 L12.1670833,0.782340737 Z"
                  id="Combined-Shape"></path>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </button>
    <button class="js-move-it interactive-button green-button turn" data-stop="4">TURN
      <svg class="icon" width="110px" height="110px" viewBox="0 0 110 110" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="turn" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Group-4" transform="translate(35.000000, 22.000000)" class="green-fill">
            <path
              d="M11.385,-0.0003 L11.3857055,6.60387042 C17.2094087,6.68189641 21.8630716,8.43070721 25.3315,11.8292 C29.6905,16.0982 31.9005,22.8512 31.9005,31.9002 L23.0995,31.9002 C23.0995,25.3052 21.7795,20.6682 19.1735,18.1162 C17.3732615,16.3529844 14.809717,15.4593035 11.3853371,15.4018545 L11.385,23.0997 L1.09245946e-13,11.5507 L11.385,-0.0003 Z"
              id="Combined-Shape"></path>
          </g>
        </g>
      </svg>
    </button>
    <button class="js-stop interactive-button stop">STOP
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="110px" height="110px"
        viewBox="0 0 110 110" version="1.1">
        <g id="stop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="stop-copy">
            <circle id="Oval" cx="54.5416667" cy="54.5416667" r="54.5416667" />
            <path
             class="red-fill"
              d="M44.8777872,70.3996804 L22.4479618,92.8302128 L14.6697872,85.0520382 L29.3217872,70.3996804 L44.8777872,70.3996804 Z M83.259145,16.4626804 L91.0373196,24.240855 L75.6777872,39.5996804 L60.1217872,39.5996804 L83.259145,16.4626804 Z"
              id="Combined-Shape" />
          </g>
        </g>
      </svg>
    </button>
  </div>
  <p class="fact" id="fact"></p>
  <script>
    setTimeout(function () { $('#loading').fadeOut() }, 1000);
    var facts = [
      "The sweaty reaction you get when indulging in hot sauce is called gustatory perspiration",
      "Chili peppers are one of the world’s oldest known spices",
      "The Mayans rubbed chilis on their gums to remove toothaches",
      "Hot sauce cost $1 a bottle in 1868, equivalent to a month’s rent at the time",
      "President Bush almost died choking on a hot sauce covered pretzel",
      "Hot sauce production is the 8th fastest growing industry in the United States",
      "Over 54% of households have hot sauce in their pantry",
      "Chili peppers contain more vitamin A than carrots",
      "When hot sauce activates your pain receptors, your brain releases endorphins",
      "The first commercially available hot sauce was distributed in cologne bottles"
    ]
    var socket = io();

    var showFact = function() {
      $('#fact').hide().html(facts[Math.floor(Math.random() * 10)]).fadeIn('fast');
    }

    $('.js-move-it').click(function(e) {
      var stopNumber = $(event.target).data('stop');
      socket.emit("move", stopNumber);
      showFact();
    });

    $('.js-stop').click(function() {
      socket.emit("stop")
      showFact();
    })
  </script>
</body>
</html>