<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <button id="js-move-it">Move the hot sauce train!!!</button>
  <script>
    $('#js-move-it').onClick(function() {
      console.log('hmmm');
    });
  </script>
</body>
</html>